<!-- *Begin Header* -->
<div class="hero-section">
  <div class="hero-section-text">
    <h1 class="header-name">About Me</h1>
  </div>
</div>
<!-- *End Header* -->

<div class="about">
  <div>
    <img
      scr="https://et710.com/website/war2/img/name-logo.jpg"
      style="width:100%"
    />
  </div>

  <div class="skills">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <div class="fonty"><b>SKILLS</b></div>
    <hr />
    <ul>
      <li>Proficiency in Adobe Photoshop and InDesign</li>
      <li>Proficiency in Adobe (i.e. Photoshop and InDesign)</li>
      <li>
        Proficiency in Microsoft Office (i.e. Word, Powerpoint, and OneNote)
        with basic skills in Excel
      </li>
      <li>Proficiency in Paint Tool Sai</li>
      <li>Proficiency in Google Docs, Drive, and Mail</li>
      <li>Basic Money Handling Skills</li>
      <li>Strong Time Management</li>
      <li>Efficient with Social Media</li>
    </ul>
  </div>

  <br />

  <div class="experience">
    <div class="fonty"><b>EXPERIENCE</b></div>
    <hr />
    <div class="fonty2">
      <b>Co-Editor in Chief of School Newspaper "The Verdict"</b>
    </div>

    <p>
      I was the Co-Editor-in-Chief of Benjamin N. Cardozo High School's
      newspaper for two years.
    </p>

    <ul>
      <li>
        Managing a team made up of reporters, page editors, photographers,
        graphic artists, and supervisors
      </li>
      <li>
        Writing articles requiring extensive research and interviews with
        students and/or faculty
      </li>
      <li>Leading discussions on brainstorming for future issues</li>
      <li>
        Editing and preparing submitted articles and pages for final publication
      </li>
      <li>Managing relations with multiple businesses</li>
      <li>Overlooking and managing finances for each publication</li>
      <li>Distributing publications to students and faculty</li>
      <li>Mentoring future members of The Verdict</li>
    </ul>
  </div>

  <br />

  <div class="attendance">
    <div class="fonty"><b>Attendance Office Assistant</b></div>
    <p>
      I worked in Benjamin N. Cardozo High School's Attendance Office as an
      assistant for two years.
    </p>

    <ul>
      <li>Interfiling and organizing attendance files</li>
      <li>Sorting out mail for faculty</li>
      <li>Delivering attendance documents to other offices</li>
    </ul>
  </div>

  <br />
</div>
<!-- *Begin Footer* -->

<footer class="marketing-site-footer">
  <h4 class="marketing-site-footer-title">Contact Info</h4>
  <div class="marketing-site-footer-block">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <p>rebeccahuynh7@gmail.com</p>
  </div>

  <div class="marketing-site-footer-bottom">
    <div class="column">
      <ul class="menu marketing-site-footer-bottom-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="#">About</a></li>
        <li><a routerLink="../contactme">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- *End Footer* -->
