<br />
<h3>Graphic Design</h3>

<h2>Logos, Posters, And General Graphic Design Projects</h2>

<app-portfolio-lightbox
  portfolioURL="/assets/graphic.json"
></app-portfolio-lightbox>

<!-- *Begin Footer* -->

<footer class="marketing-site-footer">
  <h4 class="marketing-site-footer-title">Contact Info</h4>
  <div class="marketing-site-footer-block">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <p>rebeccahuynh7@gmail.com</p>
  </div>

  <div class="marketing-site-footer-bottom">
    <div class="column">
      <ul class="menu marketing-site-footer-bottom-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="../aboutme">About</a></li>
        <li><a routerLink="../contactme">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- *End Footer* -->
