<body>
  <!-- *Begin Header* -->
  <div class="hero-section">
    <div class="hero-section-text">
      <h1 class="header-name">Contact Me</h1>
    </div>
  </div>

  <br />

  <!-- *Begin Contact* -->

  <div class="contact">
    <div class="fonty"><b>CONTACT INFORMATION</b></div>

    <hr />

    <p>For any inqueries, feel free to contact me!<br /><br /></p>
    <div class="para">
      rebeccahuynh7@gmail.com <br /><br />
      347.285.6822<br /><br />
      Seudoart<br /><br />
      Rebecca Huynh<br /><br />
      Seudoart<br /><br />
    </div>
    <br />
  </div>
  <!-- *Begin Contact* -->

  <!-- *Begin Footer* -->

  <footer class="marketing-site-footer">
    <h4 class="marketing-site-footer-title">Contact Info</h4>
    <div class="marketing-site-footer-block">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p>rebeccahuynh7@gmail.com</p>
    </div>

    <div class="marketing-site-footer-bottom">
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="#">About</a></li>
          <li><a routerLink="../contactme">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- *End Footer* -->
</body>
