<!-- *Begin Header* -->
<div class="hero-section">
  <div class="hero-section-text">
    <h1 class="header-name">SeudoArt</h1>
  </div>
</div>
<!-- *End Header* -->
<br />

<!-- *Begin Content* -->
<div class="container-row center ng-scope">
  <div class="container flex-wrap">
    <img
      src="https://et710.com/website/war2/img/Wolf-Kings.jpg"
      style="width:100%"
    />
    <button class="container btn">
      <a routerLink="/graphic">GRAPHIC DESIGN</a>
    </button>
  </div>

  <div class="container flex-wrap">
    <img
      src="https://et710.com/website/war2/img/stargazer.png"
      style="width:100%"
    />
    <button class="container btn">
      <a routerLink="/digitalart">DIGITAL ART</a>
    </button>
  </div>

  <div class="container flex-wrap">
    <img
      src="https://et710.com/website/war2/img/shinee-moon.jpg"
      style="width:100%"
    />
    <button class="container btn">
      <a routerLink="/illustration">ILLUSTRATIONS</a>
    </button>
  </div>

  <div class="container flex-wrap">
    <img
      src="https://et710.com/website/war2/img/exo-studios.jpg"
      style="width:100%"
    />
    <button class="container btn">
      <a routerLink="/indesign">INDESIGN</a>
    </button>
  </div>

  <div class="container flex-wrap">
    <img
      src="https://et710.com/website/war2/img/Visionaire.jpg"
      style="width:100%"
    />
    <button class="container btn">
      <a routerLink="/paintings">PAINTINGS</a>
    </button>
  </div>

  <div class="container flex-wrap">
    <img
      src="https://et710.com/website/war2/img/name-logo.jpg"
      style="width:100%"
    />
    <button class="container btn bottomleft">
      <a routerLink="/aboutme">ABOUT ME</a>
    </button>
  </div>

  <div class="container flex-wrap">
    <img
      src="https://et710.com/website/war2/img/seudo-productions.jpg"
      style="width:100%"
    />
    <button class="container btn">
      <a routerLink="/contactme">CONTACT ME</a>
    </button>
  </div>
</div>

<!-- *End Content* -->

<br />

<!-- *Begin Footer* -->

<footer class="marketing-site-footer">
  <h4 class="marketing-site-footer-title">Contact Info</h4>
  <div class="marketing-site-footer-block">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <p>rebeccahuynh7@gmail.com</p>
  </div>

  <div class="marketing-site-footer-bottom">
    <div class="column">
      <ul class="menu marketing-site-footer-bottom-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="aboutme">About</a></li>
        <li><a routerLink="contactme">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- *End Footer* -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license

<div *ngFor="let product of products; index as productId">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', productId]"
    >
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

-->
